version: 2
updates:
  - package-ecosystem: github-actions
    directories:
      - /
      - /.github/actions/*
    schedule:
      interval: weekly
    groups:
      github-actions-deps:
        patterns:
          - '*'
  # libshvproto-macros is handled together with this one
  - package-ecosystem: npm
    directory: /
    schedule:
      interval: weekly
    groups:
      npm-deps:
        patterns:
          - '*'
