# vim: sw=2
name: Lint

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  type-check:
    name: Type check
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - name: Run tsc
        run: tsc --noEmit

  xo:
    name: xo
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - uses: denoland/setup-deno@v1
        with:
          deno-version: vx.x.x

      - name: Run xo
        run: deno run --allow-read --allow-write --allow-net --allow-sys --allow-env npm:xo --reporter unix src/*
